// Colors

$Moderate-cyan: hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);
$Dark-gray: hsl(0, 0%, 48%);

// Typography

$Font-med: 1rem;
$Font-sm: 0.875rem;

@import url(https://fonts.google.com/specimen/Commissioner);
$Font-fam: Commissioner;

$Font-light: 400;
$Font-norm: 500;
$Font-bold: 700;