*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    text-align: center;
    background-color: #FAFAFA;
        background: {
            image: url('../../images/image-hero-desktop.jpg'); //186px
            position: top;
            size: 100%;
            repeat: no-repeat;
        }

}

@import "variables";
@import "globals";

@import "header";
@import "main";